body{
    font-family: tahoma;
    margin: 0;
}

.p1{
    text-align: center;
    font-size: 20px;
    background-color:#afddfb ;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 0PX;
}
.p1 img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.p1 a{
    color: black;
    padding: 10px;
}

.p2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p2 img{
    width:1000px;
    height: 350px;
}

.p3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.p3 h1{
    font-size: 35px;
    color: #1d1d1d;
}

.p3 h2{
    font-size: 22px;
    color:#1c81c0 ;
}

.p3 img{
    width:450px ;
}

.p3 p{
    font-size: 18px;
    color: #1d1d1d;
    padding-top: 20px;
    text-align: justify;
    width: 900px;
    margin: auto;
}

.p3 span{
    color:#1d80c1;
    font-weight: bold;
}

.p4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#1d80c1 ;
    color: white;
    font-size:28px ;
    height: 600px;
}

.p4 p{
    width: 800px;
    margin: auto;
    font-size: 25px;
    line-height: 50px;
}

.p4 span{
    font-weight: bold;
    color:#fff81b ;
}

.p4 ul{
    line-height: 40px;
    font-size: 25px;
    width: 100px;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
}

.p5{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p5 img{
    width: 400px;
    height: 250px;
}

.p5 h2{
    font-size: 35px;
    color:#1c81c0 ;
    padding-top: 20px;
}

.p5 p{
    font-size: 18px;
    padding-top: 20px;
    text-align: left;
    width: 1000px;
    margin: auto;
}

.p5 span{
    color:#1d80c1;
    font-weight: bold;
}

.p6{
    text-align: center;
    background-color:#1c81c0 ;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.p6 h3{
    color:#ffffff;
    font-size: 35px;
}

iframe{
    width: 750px;
    height: 330px;
}

.p6 p{
    color:#ffffff;
    font-size: 16px;
    background-color:#1d1d1d ;
    width: 900px;
    margin: auto;
    height: 40px;
    padding-top: 20px;
    margin-top: 30px;
}

.p6 a{
    background-color: #ffffff;
    color: #1c81c0;
    padding: 5px;
    line-height: 45px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

.p6 span{
    font-weight: bold;
    color: #fff81b;
}

